<div class="bg">
    <div class="cards">
        <h2>Register</h2>
        <form #register='ngForm' (ngSubmit)='registerform(register)'>
            <div class="form-group">
                <label for="Email">Email<i class="fa fa-user-circle-o" aria-hidden="true"></i></label>
                <input type="email" name="email" id="email" #email='ngModel' ngModel class="form-control" required pattern="[A-Za-z0-9._%+-]+@[a-z.-]+\.[a-z]{3,}$" placeholder="Enter the Email">
                <div *ngIf='email.touched && email.invalid'>
                    <div class="alert alert-danger" *ngIf='email.errors.required'>
                        This field is mandatory
                    </div>
                    <div class="alert alert-danger" *ngIf='email.errors.pattern'>
                        Invalid format
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password <i class="fa fa-unlock" aria-hidden="true"></i></label>
                <input type="password" name="password" id="password" placeholder="Enter Password" #password='ngModel' ngModel class="form-control" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{5,}$">
                <div *ngIf='password.invalid && password.touched'>
                    <div class="alert alert-danger" *ngIf='password.errors.required'>
                        This field is mandatory
                    </div>
                    <div class="alert alert-danger" *ngIf='password.errors.pattern'>
                        Password should include atleast 5 characters, one uppercase, one lowercase,one special character and one number.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Role</label>
                <select name="role" id="role" #role='ngModel' ngModel class="form-control" required>
                    <option value="product">Product</option>
                    <option value="client">Client</option>
                    <option value="Schedular">Schedular</option>
                </select>
            </div>
            <button type="submit" class="btn btn-lg" [disabled]='register.invalid'>Sumbit</button>
            <div class="Message" *ngIf='message'>{{message}}</div>
        </form>
    </div>
</div>







































<!-- <div class="col-md-4 offset-4 mt-4">
    <form #register='ngForm' (ngSubmit)='registerform(register)'>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="email" name="email" id="email " class="form-control" #email='ngModel' ngModel>
        </div>
        <div class="form-group">
            <label for="name">password</label>
            <input type="password" name="password" id="password " class="form-control" #password='ngModel' ngModel>
        </div>
        <div class="form-group">
            <label for="name">role</label>
            <select name="role" id="role" #role='ngModel' ngModel class="form-control">
                <option value="product">Product</option>
                <option value="client">Client</option>
                <option value="Schedular">Schedular</option>
            </select>
        </div>
        <button type="reset" class="btn btn-outline-primary">Reset</button>
        <button type="submit" class="btn btn-outline-primary">Sumbit</button>
    </form>
</div> -->