@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
.bg {
    background: url("../../assets/images/black-hanging-bridge-surrounded-by-green-forest-trees-775201.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 750px;
    margin-top: -61px;
}

.cards {
    height: 500px;
    width: 500px;
    top: 48%;
    position: absolute;
    left: 80%;
    transform: translate(-50%, -50%);
}

.cards h2 {
    padding-left: 120px;
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 50px;
}

label {
    color: white;
    font-size: 20px;
    font-family: 'Courgette', cursive;
}

label i {
    color: white;
    padding-left: 10px;
}

.Message {
    color: white;
    font-size: 20px;
    font-family: 'Courgette', cursive;
}

.form-group {
    margin-bottom: 1rem;
    padding-right: 50px;
    margin-top: 30px;
}

select {
    font-family: 'Courgette', cursive;
}

input {
    font-family: 'Courgette', cursive;
}

button {
    background-color: white;
    border: 1px solid white;
    color: black;
    font-size: 20px;
    font-family: 'Courgette', cursive;
}