<div class="box">
    <div class="card">
      <div class="imgBx">
        <img src="https://images.pexels.com/photos/1576937/pexels-photo-1576937.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
      </div>
      <div class="details"><h2>Someone famous <br> <span>Is here</span></h2></div>
    </div>
    <div class="card">
        <div class="imgBx"><img src="https://images.pexels.com/photos/1576937/pexels-photo-1576937.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
        <div class="details"><h2>Someone famous <br> <span>Is here</span></h2></div>
      </div>
      <div class="card">
          <div class="imgBx"><img src="https://images.pexels.com/photos/1576937/pexels-photo-1576937.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
          <div class="details"><h2>Someone famous <br><span>Is here</span></h2></div>
      </div>
  </div>
  