<div class="bg">
    <div class="cards">
        <h2>Login</h2>
        <form #loginform='ngForm' (ngSubmit)='login(loginform)'>
            <div class="form-group">
                <label for="Email">Email<i class="fa fa-user-circle-o" aria-hidden="true"></i></label>
                <input type="email" name="email" id="email" #email='ngModel' ngModel class="form-control" required pattern="[A-Za-z0-9._%+-]+@[a-z.-]+\.[a-z]{3,}$" placeholder="Enter the Email">
                <div *ngIf='email.touched && email.invalid'>
                    <div class="alert alert-danger" *ngIf='email.errors.required'>
                        This field is mandatory
                    </div>
                    <div class="alert alert-danger" *ngIf='email.errors.pattern'>
                        Invalid format
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password <i class="fa fa-unlock" ></i></label>
                <input type="password" name="password" id="password" placeholder="Enter Password" #password='ngModel' ngModel class="form-control" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{5,}$">
                <div *ngIf='password.invalid && password.touched'>
                    <div class="alert alert-danger" *ngIf='password.errors.required'>
                        This field is mandatory
                    </div>
                    <div class="alert alert-danger" *ngIf='password.errors.pattern'>
                        Password should include atleast 5 characters, one uppercase, one lowercase,one special character and one number.
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg" [disabled]='loginform.invalid'>Submit</button>
        </form>
        <div class="Message" *ngIf='message'>{{message}}</div>
    </div>
</div>