<div class="col-md-3 float-left mt-3" *ngFor='let product of products'>
    <div class="card">
        <div class="card-header text-center">
            {{product.name}}
        </div>
        <div class="card-body">
            <img [src]="product.image"
            width="100%" height="150px">
        </div>
        <div class="card-footer text-center">
            RS:{{product.price}}
            <button class="btn btn-outline-primary float-right"
                (click)='deleteLateComer(product)'
                >Delete</button>
        </div>
    </div>
</div>
